header {
  display: flex;
  justify-content: space-between;

  width: calc(100vw - 38px);
  height: 78px;
  margin: 40px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
}

.profile img {
  width: 40px;
  height: 40px;

  border-radius: 40px;
  border: 2px solid #6a6363;
  background: lightgray;
}

.profile strong {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
